<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rocking Groomers!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/groomers.css" rel="stylesheet">
    <link href="css/Pretty-Footer.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Rocking Groomers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">You are here!</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 md-5 text-center">
                <h1 class="mt-5">Welcome to Rocking Groomers</h1>
                <p class="lead md-5">
                    <bold>What could we do for you today</bold>
                </p>
            </div>
            <!--Injecting the table menu from the server-->
            <div id="result" class="col-lg-8 order-1 md-5"></div>
            <div class="col-lg-4 order-2">
                <form enctype="application/json" action="/post/json" method="post">
                    <div class="form-group">
                        <select class="form-control" name="sec_n">
                            <option value="0">Wash and Blowdry</option>
                            <option value="1">Paws and hair</option>
                            <option value="2">Toys and food</option>
                            <option value="3">Other services</option>
                        </select>
                        <input class="form-control mt-3" type="text" name="item" placeholder="Service">
                        <input class="form-control mt-3" type="text" name="price" placeholder="Price">
                        <button type="submit" class="btn btn-primary btn-block mt-3">Add</button>
                        
                    </div>
                </form>
                
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Rocking Groomers</a></h3>
                <p class="links"><a href="#">Join Us</a><strong> · </strong><a href="#"></a><strong> · · </strong></p>
                <p class="company-name">Rocking Groomers</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">123 River Street</span>Dublin, Ireland</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 2552552550</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">drockgroomers@bathing.ie</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the Rocking Groomers</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor
                    lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a
                        href="img/facebook-social-media-icon-design-template-vector-png_126986.jpg"><i
                            class="fa fa-facebook"></i></a><a href="img/Twitter-Logo.png"><i
                            class="fa fa-twitter"></i></a><a
                        href="img/png-transparent-social-media-linkedin-computer-icons-logo-facebook-shelf-drum-blue-text-rectangle-thumbnail.png"><i
                            class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/validation.js"></script>
</body>

</html>
