<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rocking Groomers!</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/groomers.css" rel="stylesheet">
    <link href="css/Pretty-Footer.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Rocking Groomers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home
                            <span class="sr-only">You are here!</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 md-5 text-center">
                <h1 class="mt-5">Welcome to Rocking Groomers</h1>
                <p class="lead md-5">
                    <bold>What could we do for you today</bold>
                </p>
            </div>
            <!--Preloading the table menu from the server-->
            <div id="result" class="col-lg-8 order-1 md-5"></div>
           

            <div class="col-lg-4 order-2 centered">
                 <form>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text">&euro;</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Total" name="txtBillAmt">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <input type="checkbox" id="showDelivery" aria-label="Checkbox for following text input">
                            </div>
                        </div>
                        <input class="btn btn-block btn-warning mt-2" type="button" name="btnCalcBill"
                            value="Calculate Total" id="calcBill">
                    </div>
                </form>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-lg-12 ">
                        <div class="form-outline">
                            <input type="text" class="form-control" id="validationCustom01" value="" required />
                            <label for="validationCustom01" class="form-label">First name</label>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-outline">
                            <input type="text" class="form-control" id="validationCustom02" value="" required />
                            <label for="validationCustom02" class="form-label">Last name</label>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group form-outline">
                            <span class="input-group-text" id="inputGroupPrepend">Phone</span>
                            <input type="text" class="form-control" id="validationCustomUsername"
                                aria-describedby="inputGroupPrepend" required />
                            <label for="validationCustomUsername" class="form-label">Mobile </label>
                            <div class="invalid-feedback">Please insert your phone number</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-outline">
                            <input type="text" class="form-control" id="validationCustom03" required />
                            <label for="validationCustom03" class="form-label">Address</label>
                            <div class="invalid-feedback">Please provide a valid address.</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-outline">
                            <input type="text" class="form-control" id="validationCustom05" required />
                            <label for="validationCustom05" class="form-label">Eircode</label>
                            <div class="invalid-feedback">Please provide a valid Eircode.</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">You must agree before submitting.</div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit order </button>
                        <button id="delete" class="btn btn-danger" type="submit">Delete </button>
                        <p class="text-muted">Please click the row you would like to delete</p>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Rocking Groomers</a></h3>
                <p class="links"><a href="#">Join Us</a><strong> · </strong><a href="#"></a><strong> · · </strong></p>
                <p class="company-name">Rocking Groomers</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p><span class="new-line-span">123 River Street</span>Dublin, Ireland</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +1 2552552550</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">drockgroomers@bathing.ie</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About the Rocking Groomers</h4>
                <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor
                    lacus vehicula sit amet. </p>
                <div class="social-links social-icons"><a
                        href="img/facebook-social-media-icon-design-template-vector-png_126986.jpg"><i
                            class="fa fa-facebook"></i></a><a href="img/Twitter-Logo.png"><i
                            class="fa fa-twitter"></i></a><a
                        href="img/png-transparent-social-media-linkedin-computer-icons-logo-facebook-shelf-drum-blue-text-rectangle-thumbnail.png"><i
                            class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/menu.js"></script>
    <script src="js/validation.js"></script>
</body>

</html>
