body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(129, 127, 127, 0.24);
    margin: 5px;
    text-align: left;
    color: #ecc823;
}
h2 {
    font-size: 140%;
    color: rgb(15, 108, 131);
    margin-top: 10px;
}
p {
    font-size: 80%;
    color: #2b97df;
    font-weight: bolder;
}
table {
    background-color: rgba(236, 219, 243, 0.24);
    border-color: #28badfdc;
    border-width: thick;
    border-collapse: collapse;
    width: 75%;
}
th {
    border-color: #2b28dfb7;
    font-size: 120%;
    color: rgb(25, 99, 133);
}
td {
    border-color: #2b28dfb7;
    font-size: 100%;
    color: rgb(25, 99, 133);
    padding: 5px;
}

.indent {
    margin-left: 78px;
}